.hero {
  border-radius: 16px;
  max-width: 400px;
  overflow: hidden;
}

.heroCard {
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.winner {
  box-shadow: 0 25px 50px -12px #9ae6b4;
}
