.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.addHero {
  position: absolute;
  top: 15px;
  right: 15px;
}
